<div class="col-md-12">
    <h4>Detalles del cargo: {{ model.CodigoCargo }}</h4>
    <hr/>
    <dl class="horizontal">
        <dt>
            Codigo del cargo
        </dt>
        <dd>
            {{ model.CodigoCargo }}
        </dd>
        <dt>
            Fecha de creación
        </dt>
        <dd>
            {{ model.FechaCreacion }}
        </dd>
        <dt>
            Descripción del cargo
        </dt>
        <dd>
            {{ model.Descripcion }}
        </dd>
    </dl>
</div>