{% extends 'base.html' %}
{% load static %}
{% block title %}Cargos{% endblock %}
{% block pagina_actual %}Cargos de empleados{% endblock %}
{% block main_content %}

<p>
    <a class="btn btn-sm btn-primary" onclick=loadForm("{% url 'cargos_create' %}",'Agregar&nbspCargo')>Agregar Cargo <i class="fa fa-plus"></i></a>
</p>
<div class="table-responsive">
    <table class="table table-dark table-striped" width="100%" id="tableCargos">
        <thead>
            <tr>
                <td>Codigo</td>
                <td>Descripción</td>
                <td>Fecha Creación</td>
                <td>Acciones</td>
            </tr>
        </thead>
    </table>
</div>

    {% include '_modal.html' with titulo_modal='Cargos' %}
{% endblock %}

{% block js_extras %}
    <script>
        let dataTable = null;
        $(document).ready(function(){
            dataTable = $("#tableCargos").DataTable({
                ajax: {
                    url : "{% url 'cargos_list_json' %}",
                    type: "GET",
                    dataType: "JSON"
                }, columns : [
                    {'data': 'CodigoCargo'},
                    {'data': 'Descripcion'},
                    {'data': 'FechaCreacion'},
                    {'data': 'id', render : function(i){
                            let btn = "";
                            let editUri = '{% url 'cargos_edit' 1234 %}'.replace('1234', i);
                            let deleteUri = '{% url 'cargos_delete' 1234 %}'.replace('1234', i);
                            let detailsUri = '{% url 'cargos_details' 1234 %}'.replace('1234', i);
                            btn += "<a href='#' class='text-white' onclick=loadForm('" + editUri+"','Editar&nbspCargo')> Editar <i class='fa fa-edit'></i> </a> | ";
                            btn += "<a href='#' class='text-white' onclick=loadForm('"+ detailsUri +"','Detalles&nbspdel&nbspcargo')>Detalles <i class='fa fa-info-circle'></i></a> | ";
                            btn += "<a href='#' class='text-white' onclick=deleteForm('"+deleteUri+"')>Eliminar <i class='fa fa-trash'></i></a>";
                            return btn;
                        }
                    },
                ]
            });
        });
        // Ajustar el datepicker para los campos de fecha
        $("#modal-default").on('shown.bs.modal', function(e){
       $('#id_FechaCreacion').datepicker({
        format: "dd/mm/yyyy",
        maxViewMode: 3,
        todayBtn: "linked",
        language: "es"
        });
    });
    </script>
{% endblock %}
