{% extends 'base.html' %}
{% load static %}
{% block title %}Cargos{% endblock %}
{% block pagina_actual %}Cargos de empleados{% endblock %}
{% block main_content %}

<p>
    <a  href="#" class="btn btn-primary btn-icon-split" onclick=loadForm("{% url 'cargos_create' %}",'Agregar&nbspCargo')>
        <span class="text">Agregar Cargo </span>
        <span class="icon icon-text-white-50">
            <i class="fas fa-plus-circle"></i>
        </span>
    </a>
</p>
<div class="table-responsive">
    <table class="table table-striped" width="100%" id="tableCargos">
        <thead>
            <tr>
                <td>Codigo</td>
                <td>Descripción</td>
                <td>Fecha Creación</td>
                <td class="text-center">Acciones</td>
            </tr>
        </thead>
    </table>
</div>

    {% include '_modal.html' with titulo_modal='Cargos' %}
{% endblock %}

{% block js_extras %}
    <script>
        let dataTable = null;
        $(document).ready(function(){
            dataTable = $("#tableCargos").DataTable({
                ajax: {
                    url : "{% url 'cargos_list_json' %}",
                    type: "GET",
                    dataType: "JSON"
                }, columns : [
                    {'data': 'CodigoCargo'},
                    {'data': 'Descripcion'},
                    {'data': 'FechaCreacion'},
                    {'data': 'id', render : function(i){
                            $('[data-toggle="tooltip"]').tooltip();
                            let btn = "<div class='text-center'>";
                            let editUri = '{% url 'cargos_edit' 1234 %}'.replace('1234', i);
                            let deleteUri = '{% url 'cargos_delete' 1234 %}'.replace('1234', i);
                            let detailsUri = '{% url 'cargos_details' 1234 %}'.replace('1234', i);
                            btn += "<a href='#' data-toggle='tooltip' data-placement='top' title='Editar Cargo' class='btn btn-warning btn-circle' onclick=loadForm('" + editUri+"','Editar&nbspCargo')>  <i class='fa fa-edit'></i> </a> | ";
                            btn += "<a href='#' data-toggle='tooltip' data-placement='top' title='Detalles' class='btn btn-info btn-circle' onclick=loadForm('"+ detailsUri +"','Detalles&nbspdel&nbspcargo')><i class='fa fa-info-circle'></i></a> | ";
                            btn += "<a href='#' data-toggle='tooltip' data-placement='top' title='Eliminar Cargo' class='btn btn-danger btn-circle' onclick=deleteForm('"+deleteUri+"')><i class='fa fa-trash'></i></a>";
                            btn += "</div>";
                            return btn;
                        }
                    },
                ]
            });
        });
        // Ajustar el datepicker para los campos de fecha
        $("#modal-default").on('shown.bs.modal', function(e){
       $('#id_FechaCreacion').datepicker({
        format: "dd/mm/yyyy",
        maxViewMode: 3,
        todayBtn: "linked",
        language: "es"
        });
    });
    </script>
{% endblock %}
