{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Stellar - {% block title %}{% endblock %}</title>
    <!-- Carga de css -->
    <link rel="stylesheet" href="{% static '/vendors/simple-line-icons/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static '/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static '/vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static '/vendors/daterangepicker/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static '/vendors/chartist/chartist.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static '/images/favicon.png' %}" />
    <link rel="stylesheet" href="{% static '/css/datatables.min.css' %}"/>
    <link rel="stylesheet" href="{% static '/css/bootstrap-datepicker.min.css' %}"/>
</head>
<body>
    <div class="container-scroller">
        <!-- Barra de navegación -->
        {% include '_navbar.html' with page_title=titulo %}
        <!-- Fin de la navegación -->
        <!-- Partial del contenido -->
        <div class="container-fluid page-body-wrapper">
            <!-- Carga la barra lateral -->
            {% include '_sidebar.html' %}
            <div class="main-panel">
                <div class="content-wrapper">
                    {% block main_content %}{% endblock %}
                </div>
                {% include '_footer.html' %}
            </div>
        </div>
    </div>
    <script src="{% static '/vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static '/js/jquery.validate.min.js' %}"></script>
    <script src="{% static '/js/jquery.validate.unobtrusive.min.js' %}"></script>
    <script src="{% static '/js/ajaxCrud.js' %}"></script>
    <script src="{% static '/vendors/moment/moment.min.js' %}"></script>
    <script src="{% static '/vendors/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/misc.js' %}"></script>
    <script src="{% static 'js/datatables.min.js' %}"></script>
    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.es.min.js' %}"></script>

{% block js_extras %}{% endblock %}

</body>
</html>