{% extends 'base.html' %}
{% load  static %}
{%  block title %} {{ titulo }}{% endblock %}
{% block main_content %}
    <p>
        <a class="btn btn-primary btn-icon-split" href="#" onclick=loadForm("{% url 'create_empleados' %}","Nuevo&nbspEmpleado")><span class="text" >Nuevo Empleado</span><span class="icon icon-text-white-50">
            <i class="fas fa-plus-circle"></i>
        </span></a>
    </p>
    <hr/>
    <div class="table-responsive">
        <table class="table table-striped" width="100%" id="tablaEmpleados">
            <thead>
                <tr>
                    <th>Cedula</th>
                    <th>Inss</th>
                    <th>Nombres</th>
                    <th>Primer Apellido</th>
                    <th>Segundo Apellido</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
        </table>
    </div>
{% endblock %}
{% block js_extras %}
    <script>
        let dataTable = null;
        $(document).ready(function(){
           dataTable = $("#tablaEmpleados").DataTable({
               ajax:{
                   url: "{% url 'list_json_empleados' %}",
                   type: "GET",
                   dataType: "JSON"
               }, columns: [
                   { data: "Cedula" },
                   { data: "NoInss", render: function(inss){
                           return +inss === 0 ? "No aplica" : inss;
                       }
                   },
                   { data: "Nombres" },
                   { data: "PrimerApellido" },
                   { data: "SegundoApellido" },
                   { data: "id", render: function(i){
                            let btn = "<div class='text-center'>";
                            let editUri = '{% url 'edit_empleados' 1234 %}'.replace('1234', i);
                            let deleteUri = '{% url 'delete_empleados' 1234 %}'.replace('1234', i);
                            let detailsUri = '{% url 'details_empleados' 1234 %}'.replace('1234', i);
                            let addPhoto = '{% url 'add_photo_empleados' 1234 %}'.replace('1234', i);

                            btn += "<a href='#' data-toggle='tooltip' data-placement='top' title='Detalles' class='btn btn-info btn-circle' onclick=loadForm('"+ detailsUri +"','Detalles')><i class='fa fa-info-circle'></i></a> | ";
                            btn += "<a href='#' data-toggle='tooltip' data-placement='top' title='Foto' class='btn btn-info btn-circle' onclick=loadForm('" + addPhoto+"','Foto')>  <i class='fa fa-portrait'></i> </a> | ";
                            btn += "<a href='#' data-toggle='tooltip' data-placement='top' title='Editar' class='btn btn-warning btn-circle' onclick=loadForm('" + editUri+"','Editar&nbspEmpleado')>  <i class='fa fa-edit'></i> </a> | ";
                            btn += "<a href='#' data-toggle='tooltip' data-placement='top' title='Cargos' class='btn btn-primary btn-circle' onclick=loadForm('" + editUri+"','Cargos')>  <i class='fa fa-award'></i> </a> | ";
                            btn += "<a href='#' data-toggle='tooltip' data-placement='top' title='Eliminar' class='btn btn-danger btn-circle' onclick=deleteForm('"+deleteUri+"')><i class='fa fa-trash'></i></a>";
                            btn += "</div>";
                            return btn;
                       }
                   }
               ]
           });
           // Poner tooltips al cargar
           setTimeout(function(){
                    $('[data-toggle="tooltip"]').tooltip();
                }, 1500);
        });
    </script>
{% endblock %}